# JSON and XML - Lab

## Introduction

In this lab, you'll practice navigating JSON and XML data structures.

## Objectives
You will be able to:
* Effectively use the JSON module to load and parse JSON documents
* Read and access data stored in JSON and XML
* Compare  and contrast the JSON and XML as data interchange types

## XML

In [30]:
import xml.etree.ElementTree as ET
xml_file = 'nyc_2001_campaign_finance.xml'

### Create an XML tree and retrieve the root tag.

In [31]:
tree = ET.parse(xml_file)
root = tree.getroot()

### How many direct descendents does the root tag have?

In [32]:
#Answer: 1
print(len([child for child in root]))

1

### How many different types of tags are there within the entire XML file?

In [33]:
# Your code here
for child in root.iter():
    if child.tag not in tags:
        tags.append(child.tag)

print(len(tags))

13

### Create a DataFrame listing the number of each type of tag. 
Sort the DataFrame in descending order by the tag count. The first entry should demonstrate there are 286 row tags in the XML file.   
(Your DataFrame will be a single column, so could also be thought of as a Series.)

In [34]:
import pandas as pd

In [35]:
#Your code here
tag_counts = {}
for child in root.iter():
    if child.tag not in tag_counts:
        tag_counts[child.tag] = 1
    else:
        tag_counts[child.tag] += 1

df = pd.DataFrame.from_dict(tag_counts, orient='index')
df.columns = ['count']
df.sort_values(by='count')

            count
response        1
officeboro     21
officedist    245
election      284
officecd      284
primarypay    284
generalpay    284
runoffpay     284
totalpay      284
candid        285
candname      285
canclass      285
row           286

## JSON

### Open the same dataset from json

In [43]:
#Your code here
import json
data_file = 'nyc_2001_campaign_finance.json'

try:
    f = open(data_file)
    data = json.load(f)
    
except Exception as e:
    print(e)
    
finally:
    f.close()

### What is the root data type of the json file?

In [47]:
### Your code here
print(f'{data_file} is of type, {type(data)}')
type(data)

nyc_2001_campaign_finance.json is of type, <class 'dict'>

dict

### Navigate to the 'data' key of your loaded json object. What data type is this?

In [48]:
#Your code here
type(data['data'])

list

### Preview the first entry from the value returned by the 'data' key above.

In [49]:
#Your code here
data['data'][0]

[1,
 'E3E9CC9F-7443-43F6-94AF-B5A0F802DBA1',
 1,
 1315925633,
 '392904',
 1315925633,
 '392904',
 '{\n  "invalidCells" : {\n    "1519001" : "TOTALPAY",\n    "1518998" : "PRIMARYPAY",\n    "1519000" : "RUNOFFPAY",\n    "1518999" : "GENERALPAY",\n    "1518994" : "OFFICECD",\n    "1518996" : "OFFICEDIST",\n    "1518991" : "ELECTION"\n  }\n}',
 None,
 'CANDID',
 'CANDNAME',
 None,
 'OFFICEBORO',
 None,
 'CANCLASS',
 None,
 None,
 None,
 None]

### Preview the Entry under meta -> view -> columns (the keys of three successively nested dictionaries)

In [ ]:
data['data']['view'][co]

### Create a DataFrame from your json data
The previous two questions previewed one entry from the data object within the json file, as well as the column details associated with that data from the meta entry within the json file. Both should have 19 entries. Create a DataFrame of the data. Be sure to use the information from the meta entry to add appropriate column names to your DataFrame.

In [ ]:
#Your code here

### What's wrong with the first row of the DataFrame?

In [ ]:
#Your code here

#Your answer here

## Summary

Congratulations! You've started exploring some more complicated data structures used for the web and got to practice data munging and exploring!